body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100px;
  height: 100px;
}
.header {
  position: relative;
  top: 100px;
  left: 50px;
}
.navbar {
  position: absolute;
  top: 50%;
  width: 50%;
  transform: scale(1.5, 1.5t);
  background-image: linear-gradient();
}
